vim/bundle/automatic
vim/memo
vim/eclim/
vim/chalice/
vim/memo/*
vim/doc/tags-ja
vim/view
vim/README.md

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
